
.message-form, .location-map {
    padding-bottom: 30px;
}

.message-form h2, .location-map h2 {
    margin-bottom: 30px;
}

.input-field {
    margin: 10px 0px;
    padding: 12px 0px;
    padding-left: 20px;
    background-color: rgb(240, 240, 240);
}

.btn-send {
    margin-top: 15px;
    padding: 12px 100px;
    border-style: none;
    border-radius: 25px;
    background-color: #2EB068;
    color: #fff;
    font-weight: 500;
    box-shadow: 0px 0px 3px #2EB068;
}
