
.fuchka-img-3 {
    height: 500px;
}

.chotpoti-img-2 {
    height: 500px;
}

.drinks-img-1 {
    height: 500px;
}

.price {
    font-size: 20px;
    padding: 8px 18px;
    background-color: #5A548F;
}

.section-border {
    position: relative;
    top: 20px;
    border: none;
    height: 20px;
    background: #56565c;
    margin-bottom: 50px;
}

.product-des {
    padding: 15px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #f5f5f579;
}

.item-content {
    margin-top: 30px;
}

.item-content p {
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
}

/*------------------------------FeedBack Section CSS---------------------------------------*/

.feedback-img-1 {
    height: 80px;
    background-image: url("../images/person-1.png");
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
}

.feedback-img-2 {
    height: 80px;
    background-image: url("../images/person-2.png");
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
}

.feedback-img-3 {
    height: 80px;
    background-image: url("../images/person-3.jpeg");
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
}

.feedback-img-4 {
    height: 80px;
    background-image: url("../images/person-4.jpeg");
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
}

.feedbacks {
    padding-left: 40px;
}

.feedback-item {
    margin: 40px 0px;
    padding-left: 40px;
}

.feedback-details {
    margin: 20px 0px;
}

.feedback-content {
    padding: 0px 20px;
    line-height: 20px;
}

.feedback-content p {
    padding-top: 15px;
    font-size: 13px;
    font-weight: 400;
}

.load-more {
    margin-top: 20px;
    padding: 5px 80px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 20px;
    border: 1px solid #56565c;
    color: #56565c;
    background-color: transparent;
}