@import url('https://fonts.googleapis.com/css2?family=Anton&family=Righteous&family=Roboto+Slab:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-body {
    background-image: linear-gradient(#F2C94C, #F2994A);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
}

p, a, span {
    font-family: 'Roboto Slab', serif;
}

.row {
    padding: 10px;
}

/*--------------------All Images CSS---------------------------*/

.fuchka-img-1 {
    height: 200px;
    background-image: url("../images/bismilla-fuchka.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.fuchka-img-2 {
    height: 200px;
    background-image: url("../images/cheese-fuchka.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.fuchka-img-3 {
    height: 200px;
    width: 100%;
    background-image: url("../images/chicken-Fuchka.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.fuchka-img-4 {
    height: 200px;
    background-image: url("../images/doi-fuchka.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.fuchka-img-5 {
    height: 200px;
    background-image: url("../images/masala-fuchka.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.chotpoti-img-1 {
    height: 200px;
    background-image: url("../images/chicken-chotpoti.jfif");
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.chotpoti-img-2 {
    height: 200px;
    background-image: url("../images/egg-chotpoti.jfif");
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.chotpoti-img-3 {
    height: 200px;
    background-image: url("../images/special-chotpoti.JPG");
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.chotpoti-img-4 {
    height: 200px;
    background-image: url("../images/vegitable-chotpoti.jfif");
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.chotpoti-img-5 {
    height: 200px;
    background-image: url("../images/Jhal-chotpoti.jfif");
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.drinks-img-1 {
    height: 200px;
    background-image: url("../images/borhany.jfif");
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.drinks-img-2 {
    height: 200px;
    background-image: url("../images/7up.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.drinks-img-3 {
    height: 200px;
    background-image: url("../images/matdha.jfif");
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.drinks-img-4 {
    height: 200px;
    background-image: url("../images/pran-up.jfif");
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.drinks-img-5 {
    height: 200px;
    background-image: url("../images/ghoal.jfif");
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.drinks-img-6 {
    height: 200px;
    background-image: url("../images/sprite.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.drinks-img-7 {
    height: 200px;
    background-image: url("../images/lacchi.jfif");
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.drinks-img-8 {
    height: 200px;
    background-image: url("../images/coca-cola.jfif");
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

/*------------------------Header Navigation Menu CSS--------------------------*/

#header {
    z-index: 2;
    text-align: center; 
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.3s;
    background-color: #F2994A;
}

.navbar-brand {
    color: #fff;
}

.nav-item {
    padding: 0px 8px;
    font-family: 'Roboto Slab', serif;
    color: #fff;
}

.nav-link {
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.nav-link:hover {
    color: #5a548f;
}

.fa-shopping-basket {
    color: #5a548f;
}

/*-------------------------------Hero Section CSS-------------------------------*/

.hero-img-1 {
    position: relative;
    background-image: url("../images/hero-image-chotpoti.jpeg");
    padding: 200px 0px;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.hero-img-1:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #1a1919;
    opacity: 0.66;
    z-index: -1;
}

.hero-img-2 {
    position: relative;
    background-image: url("../images/hero-Image-fuchka.jpeg");
    padding: 200px 0px;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.hero-img-2:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #1a1919;
    opacity: 0.66;
    z-index: -1;
}

.hero-img-1 h1, .hero-img-2 h1 {
    color: #fff;
    font-size: 3em;
}

.hero-img-1 h6, .hero-img-2 h6 {
    color: #fff;
    font-weight: 400;
    padding-top: 10px;
}

/*----------------------------Main Body CSS--------------------------------*/

.food-menu, .drinks-menu {
    height: 550px;
    padding-top: 80px;
    overflow: hidden;
}

.section-padding {
    padding: 80px 0px;
}

.top-features {
    padding: 150px 0px 80px 0px;
}

.products-carousel h2 {
    padding-bottom: 30px;
}

.item:hover {
    background-color: #F2C94C;
}

.item-des {
    padding: 20px 0px;
}

.features-des {
    padding: 30px 20px;
}

.features-des h6 {
    padding-top: 20px;
}

.features-des p {
    font-size: 12px;
    font-weight: 400;
}

.star-rating {
    line-height: 32px;
}
  
.fa-star {
    color: rgb(251, 255, 0);
    font-size: 14px;
}

.star-rating strong {
    font-size: 14px;
}

.add-basket-btn {
    width: 100%;
    padding: 8px 0px;
    border-style: none;
    background-color: #5a548f;
    color: #fff;
}

.order-now {
    padding-top: 120px;
    padding-bottom: 0px;
}

.order-btn {
    padding: 12px 100px;
    border-style: none;
    border-radius: 25px;
    background-color: #5a548f;
    color: #fff;
    font-weight: 500;
    box-shadow: 0px 0px 3px rgb(251, 255, 0);
}

/*-------------------------------------Footer CSS------------------------------*/
footer {
    color: #fff;
    background-color: #1d1d1d;
}

.footer-items {
    padding-top: 70px;
}

.meta-info, .footer-link, .social-link, .address-text {
    padding: 10px;
}

.meta-info p {
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
}

.footer-link a {
    display: list-item;
    list-style: none;
    text-decoration: none;
    margin-left: 10px;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
}

.footer-link a:hover {
    color: #F2994A;
}

.social-link h6 {
    padding-bottom: 15px;
}

.social-logo {
    margin-right: 5px;
    font-size: 15px;
    padding: 7px 10px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.social-logo:hover {
    background-color: #F2994A;
    border: 1px solid #F2994A;
}

.fa-map-marker-alt, .fa-envelope, .fa-phone-alt {
    color: #F2994A;
}

.address-text h6 {
    padding-bottom: 10px;
}

.address-text p, address {
    font-size: 14px;
    font-weight: 500;
}

.copyright-text {
    padding: 10px 0px;
    font-size: 12px;
    font-weight: 400;
}